/* import vars  */
@import url("var.css");

.btn-link {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-weight: bold;
    color: var(--lighter-primary);
    font-size: var(--font-size);
    text-wrap: nowrap;
    text-decoration: none;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 10px;
}
.btn-link i {
    font-size: var(--font-size2);
}
.btn-link:hover {
    background: rgba(156, 100, 74, 0.274);
    border-color: var(--lighter-primary);
    color: var(--lighter-primary);
    transform: translateY(-1px);
    box-shadow: 0 0 20px;
    -webkit-box-reflect: below 1px linear-gradient(to bottom,transparent ,rgba(156, 100, 74, 0.274) );
}
.btn-link:hover + .deploying,.deploying:hover {
    display: grid;
    position: absolute;
    padding: 10px;
    width: auto;
    background: var(--secundary);
    list-style: none;
    text-wrap: nowrap;
    color: var(--lighter-primary);
    border-radius: 10px;
    border: 2px solid var(--lighter-primary);
    gap: 5px;
    right: 0%;
    z-index: 80;
}
.deploying {
    display: none;
}
.deploying li {
    cursor: pointer;
}
.btn-home a{
    text-decoration: none;
}
.btn-home a i {
    position: fixed;
    padding: 5px;
    bottom: 5vh;
    right: 5vw;
    color: var(--second);
    font-size: var(--size-icon2);
    border: 2px solid var(--second);
    border-radius: 50%;
    background: var(--card);
    transition: all .3s ease-in-out;
}
.btn-home a i:hover {
    color: var(--white);
    border-color: var(--white);
    box-shadow: 0 0 5px var(--second);
}