@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url("bem.css");
@import url("var.css");
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .3s ease-in-out;
}
::-webkit-scrollbar {
    display:none;
}
::selection {
    color: var(--white);
    background: var(--card);
}
:focus {
    outline: 1px solid var(--lighter-primary);
}
body {
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: var(--lighter-primary);
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
}
/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background: var(--secundary);
    color: var(--lighter-primary);
    box-shadow: 0 0 20px rgba(8, 8, 8, 0.397);
    z-index: 40;
}
.logo-sena {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.name-corp {
    font-family: "sofia",cursive;
    font-weight: 400;
    font-size: var(--font-size-title);
    color: var(--white);
    text-shadow: 0 2px 3px var(--lighter-primary);
}
header span ol{
    display: flex;
    list-style: none;
}
/* main */
main {
    display: grid;
    place-content: center;
    place-items: center;
    width: 100%;
    gap: 10px;
    background: var(--secundary);
}
.section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    backdrop-filter: blur(4px);
    font-size: var(--font-size);
    color: var(--second);
    box-shadow: 0 0 20px rgba(8, 8, 8, 0.397);
    gap: 15px;
    overflow: auto;
    z-index: 20;
}
.title-privacy,.title-select-appointment {
    font-size: var(--font-size-title);
}
.section-privacy-notice span {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.sub-select-appointment {
    display: grid;
    place-items: center;
    width: 100%;
    gap: 30px;
}
.sub-select-appointment div {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 10px;
    font-size: var(--font-size);
    border: 2px solid var(--second);
    border-radius: 10px;
}
.sub-select-appointment div img {
    object-fit: cover;
    object-position: center;
    width: 30%;
}
.consult-appointment img {
    filter:hue-rotate(240deg) brightness(3);
}
.forms-appointment {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 20px;
    top: 10vh;
    gap: 10px;
    font-size: var(--font-size);
    border-radius: 10px;
    border: 1px solid var(--gray);
    background: var(--secundary);
    box-shadow: 0 0 20px var(--black);
    z-index: 40;
}
.forms-appointment strong {
    font-size: var(--font-size-login-title);
}
.forms-appointment span:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.span-date-name {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.select, .input {
    width: 100%;
    padding: 4px 10px;
    background: var(--card);
    color: var(--lighter-primary);
    font-size: var(--font-size);
    border-radius: 10px;
    border: none;
    outline: none;
    appearance: none;
}
.select {
    cursor: pointer;
}
.input::placeholder {
    color: var(--lighter-primary);
}
.btn-accept {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: var(--font-size);
    text-decoration: none;
    background: var(--card);
    color: var(--white);
}
.btn-accept:hover {
    filter: brightness(0.8);
}
.btn-accept:nth-child(2) {
    background: var(--secundary);
    color: var(--lighter-primary);
    border: 2px solid;
}
.btn-back {
    cursor: pointer;
    position: absolute;
    left:3vw;
    top: 2%;
    color: var(--lighter-primary);
    font-weight: bold;
    font-size: var(--font-size);
}
.btn-back i {
    background: var(--secundary);
    color: var(--lighter-primary);
    border: 2px solid var(--lighter-primary);
    border-radius: 50%;
    font-size: var(--size-icon2);
}
/* footer */
footer {
    background: var(--secundary);
    padding: 10px;
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px rgba(8, 8, 8, 0.397);
    color: var(--second);
    z-index: 40;
}
.footer-section {
    position: relative;
    gap: 10px;
}
.footer-subtitle{
    position: relative;
    font-size: var(--font-size);
    font-weight: bold;
    width: 100%;
    margin: 10px 0;
}
.footer-subtitle::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: 100%;
}
.footer-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    list-style: none;
}
.footer-btn-link {
    text-decoration:none;
    color: var(--second);
    font-size: var(--font-size);
}
.footer-list-data {
    font-size: var(--font-size);
}
.footer-redes{
    flex-direction: row;
    gap:5%;
}
.footer-icon-red {
    cursor: pointer;
    padding: 1px;
    background: transparent;
    color: var(--second);
    font-size: var(--size-icon);
    border-radius: 1px;
}
.bxl-facebook:hover {
    background: var(--blue);
    color: var(--white);
    border-radius: 50%;
}
.bxl-instagram:hover {
    color:var(--white);
    background: linear-gradient(-135deg, #833ab4,#fd1d1d,#fcb045);
    border-radius: 50%;
}
.bxl-youtube:hover {
    color: var(--red);
    background: var(--white);
    border-radius: 10px;
    padding: 0;
}

/* dinamyc class */
.inactive {
    display: none;
    scale: 0.1;
}
.blur {
    filter: blur(5px);
}
@media (700px < width) {
    header {
        padding: 15px;
    }
    .logo-sena {
        height: 60px;
        width: 60px;
    }
    .section {
        width: 50%;
    }
    .forms-appointment {
        width: auto;
        z-index: 80;
    }
    .forms-appointment span:nth-child(2) {
        display: flex;
        gap: 80px;
        padding: 5px;
    }
    footer {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 20px;
    }
    .footer-section {
        width: 25%;
    }
    .footer-subtitle::before {
        height: 0%;
    }
}