@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url("var.css");
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .3s ease-in-out;
}
::-webkit-scrollbar {
    display:none;
}
::selection {
    color: var(--white);
    background: var(--card);
}
body {
    display:flex;
    flex-direction: column;
    width: 100%;
    background: var(--secundary) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--second);
    padding: 10px;
    width: 100%;
    color: var(--white);
}
.logo-sena {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.name-corp {
    font-family: "sofia",cursive;
    font-weight: 400;
    font-size: var(--font-size-title);
}
.picture-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    background: rgb(230, 220, 199);
    border: 2px solid var(--lighter-primary);
}
.logo {
    height: auto;
    width: 50%;
    border-radius: 10px;
}
header span ol{
    display: flex;
    list-style: none;
}
.main-search {
    position: relative;
    display: flex;
    align-items: center;
}
.search {
    outline: none;
    border-radius: 10px;
    width: auto;
    padding: 5px 8px;
    background: transparent;
    border: 1px solid var(--lighter-primary);
    font-size: var(--font-size);
    color: var(--white);
}
.search::-webkit-search-cancel-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.search::placeholder {
    color: var(--lighter-primary);
}
.bx-search-alt {
    cursor: pointer;
    position: absolute;
    right: 5%;
    color: var(--white);
    font-size: var(--font-size2);
    z-index: 3;
}
.search:focus + .bx-search-alt {
    color: transparent;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: transparent;
}
nav {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    padding: 2px;
    background: var(--card);
    z-index: 30;
}
nav ol {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.btn-menu{
    color: var(--white);
    font-size: var(--size-icon);
}
.span-btn-menu{
    cursor: pointer;
}
.bx-x {
    transform:
        rotateZ(180deg);
}
.menu-deploy{
    display: grid;
    position: absolute;
    list-style: none;
    border-radius: 10px;
    right: 2%;
    top: 100%;
    width: auto;
    color: var(--white) ;
    background: var(--card);
    padding: 10px;
    border: 2px solid var(--lighter-primary);
}
nav ol ol li {
    position: relative;
}
.btn-link {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 5px 10px;
    font-weight: bold;
    color: var(--lighter-primary);
    font-size: var(--font-size);
    text-wrap: nowrap;
    text-decoration: none;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 10px;
}
.btn-link i {
    font-size: var(--font-size2);
}
.btn-link:hover {
    background: rgba(156, 100, 74, 0.274);
    border-color: var(--white);
    color: var(--white);
    transform: translateY(-1px);
    box-shadow: 0 0 20px;
    -webkit-box-reflect: below 1px linear-gradient(to bottom,transparent ,rgba(156, 100, 74, 0.274) );
}
.btn-link:hover + .deploying,.deploying:hover {
    display: grid;
    position: absolute;
    padding: 10px;
    width: auto;
    background: var(--second);
    list-style: none;
    text-wrap: nowrap;
    color: var(--lighter-primary);
    border-radius: 10px;
    border: 2px solid var(--lighter-primary);
    gap: 5px;
    z-index: 4;
}
.deploying {
    display: none;
}
.deploying li {
    cursor: pointer;
}
.section-ads-offers {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: auto;
}
.btn-ads {
    cursor: pointer;
    position: absolute;
    padding: 0;
    color: var(--white);
    font-size: var(--size-icon2);
    border-radius: 50%;
    border: 2px solid;
}
.bx-chevron-left {
    left: 10px;
}
.bx-chevron-right {
    right: 10px;
}
.ads-offers {
    display: flex;
    align-items: center;
    height: 60vh;
    width: 100%;
    padding: 10px;
    gap: var(--font-size);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: center;
}
.ads-offers img {
    display: flex;
    height: 90%;
    width: auto;
    border: 2px solid var(--secundary);
    border-radius: 10px;
    box-shadow: 0 0 20px;
    scroll-snap-align: center;
    background: var(--card);
}
.section-products {
    display: flex;
    width: 100%;
    padding: 10px;
    gap: var(--font-size);
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: center;
}
.productCard {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 60vh;
    /* width: 70vw; */
    gap: 5px;
    border-radius: 10px;
    background: var(--card);
    scroll-snap-align: center;
}
.productCard p {
    font-weight: bold;
    font-size: var(--font-size);
    color: var(--white);
    text-wrap: nowrap;
}
.productCard img {
    height: 60%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.productCard button {
    background: var(--card);
}
.btn-float,.btn-float-address {
    cursor: pointer;
    position: fixed;
    display: grid;
    place-items: center;
    padding: 10px;
    bottom: 30px;
    right: 20px;
    border-radius: 50%;
    border: 2px solid var(--card);
    color: var(--white);
    background-color: var(--card);
}
.btn-float {
    padding: 10px;
    z-index: 5;
}
.btn-float-address{
    z-index: 4;
}
.icon-btn-float{
    font-size: var(--size-icon-float);
    transition: all 0.3s ease-in-out;
}
.icon-whatsapp {
    font-size: var(--size-icon-float);
    transform: translateY(-50px);
    transition: all 0.2s ease-in-out;
}
.icon-whatsapp:hover{
    background-color: rgb(4, 221, 4);
    color: white;
    border-color: white;
}
.icon-phone {    
    font-size: var(--size-icon-float);
    transform: translateY(-100px);
    transition: all 0.2s ease-in-out;
}
.icon-phone:hover{
    color: rgb(0, 110, 255);
    background-color: white;
    border-color:rgb(0, 110, 255);
}
.icon-gmail {    
    font-size: var(--size-icon-float);
    transform: translateY(-150px);
    transition: all 0.2s ease-in-out;
}
.icon-gmail:hover{
    color: rgb(141, 63, 63);
    background-color: white;
    border-color: rgb(141, 63, 63);
}
footer {
    background: var(--second);
    padding: 10px;
    width: 100%;
    height: auto;
    color: var(--lighter-primary);
}
.footer-section {
    position: relative;
    gap: 10px;
}
.footer-subtitle{
    position: relative;
    font-size: var(--font-size);
    font-weight: bold;
    width: 100%;
    margin: 10px 0;
}
.footer-subtitle::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: 100%;
    background: var(--darkcyan);
}
.footer-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    list-style: none;
}
.footer-btn-link {
    text-decoration:none;
    color: var(--darkcyan);
    font-size: var(--font-size);
}
.footer-list-data {
    font-size: var(--font-size);
}
.footer-redes{
    flex-direction: row;
    gap:5%;
}
.footer-icon-red {
    cursor: pointer;
    padding: 1px;
    background: transparent;
    color: var(--lighter-primary);
    font-size: var(--size-icon);
    border-radius: 1px;
}
.bxl-facebook:hover {
    background: var(--blue);
    color: var(--white);
    border-radius: 50%;
}
.bxl-instagram:hover {
    color:var(--white);
    background: linear-gradient(-135deg, #833ab4,#fd1d1d,#fcb045);
    border-radius: 50%;
}
.bxl-youtube:hover {
    color: var(--red);
    background: var(--white);
    border-radius: 10px;
    padding: 0;
}
.inactive {
    display: none;
}
@media (700px < width) {
    header {
        padding: 15px;
    }
    .logo-sena {
        height: 60px;
        width: 60px;
    }
    nav {
        padding: 5px 8px;
    }
    nav ol {
        display: flex;
        justify-content: space-around;
        width: 100%; 
    }
    .menu-deploy {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        width: 100%;
        top: 0;
        left: 0;
        padding: 0;
        border: none;
        box-shadow: none;
    }
    .span-btn-menu {
        display: none;
    }
    footer {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 20px;
    }
    .footer-section {
        width: 25%;
    }
    .footer-subtitle::before {
        height: 0%;
    }
}