@import url("var.css");
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: var(--background-login);
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 15px;
    gap: 15px;
    border: 2px solid var(--gray);
    border-radius: 10px;
    box-shadow: 0 0 30px var(--black);
    backdrop-filter: blur(5px);
    color: var(--white);
}
form div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* outline: 2px sol; */
}
.span-input {
    position: absolute;
    left: 0;
    font-weight: bold;
    font-size: var(--font-size-login);
    z-index: 1;
    transition: all .3s ease-in-out;
}
.input {
    width: 100%;
    padding: 5px 20px 5px 5px;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--white);
    outline: none;
    font-size: var(--font-size-login);
    color: transparent;
    z-index: 2;
    transition: all .3s ease-in-out;
}
.input::placeholder {
    color: var(--white);
}
.input:focus {
    color: var(--white);
}
/* .input:focus + .icon {
    color: transparent;
} */
.input:focus ~ .span-input {
    transform: translateY(-100%);
}
.icon {
    position: absolute;
    font-size: var(--font-size-login2);
    right: 1%;
    z-index: 3;
    transition: all .3s ease-in-out;
}
.i-password {
    cursor: pointer;
}
input[type="checkbox"] {
    accent-color: var(--black);
    height: var(--font-size);
    width: var(--font-size);
}
.div-forgot {
    display: flex;
    align-items: center;
    font-size: var(--font-size-login);
}
.link {
    position: relative;
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    font-size: var(--font-size-login);
}
.link::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    top: 100%;
    left: 50%;
    background: var(--white);
    transition: all .3s ease-in-out;
}
.link:hover::before {
    width: 100%;
    left: 0;
}
.btn-send {
    cursor: pointer;
    padding: 5px 10px;
    width: 100%;
    color: var(--white);
    font-size: var(--font-size-login);
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid var(--white);
    background: transparent;
}
.btn-send:hover {
    background: var(--gray);
}
@media (300px < width) {
    form {
        width: auto;
    }
    .div-forgot {
        gap: 25px;
    }
}