@import url("var.css");
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: var(--background-login);
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 10px;
    border: 2px solid var(--gray);
    border-radius: 10px;
    box-shadow: 0 0 30px var(--black);
    backdrop-filter: blur(5px);
    color: var(--white);
}
.input {
    width: 100%;
    border-radius: 10px;
    background: transparent;
    border: 2px solid var(--white);
    padding: 5px 10px;
    outline: none;
    color: var(--white);
}
input::placeholder {
    color: var(--white);
}