@import url("var.css");
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
::selection {
    background: var(--gray);
    color: var(--white);
}
body {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
    background: var(--black);
}
main {
    display: grid;
    place-content: center;
    height: 100%;
    width: 100%;
    overflow: auto;
}
main section {
    display: grid;
    align-content: center;
    padding: 10px;
    width: 80px;
    min-width: 320px;
    max-width: 500px;
    background: var(--second);
    font-size: var(--font-size);
    color: var(--gray);
    overflow: auto;
}