@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url("bem.css");
@import url("var.css");
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .2s ease-in-out;
}
::-webkit-scrollbar {
    display:none;
}
::selection {
    color: var(--white);
    background: var(--card);
}
:focus {
    outline: 1px solid var(--lighter-primary);
}
body {
    display:flex;
    flex-direction: column;
    /* height: 100vh; */
    width: 100%;
    background: var(--lighter-primary);
    overflow: auto;
}
/* main */
main {
    display: grid;
    place-content: center;
    place-items: center;
    min-height: 90%;
    width: 100%;
    gap: 10px;
    background: var(--secundary);
}