:root {
    --white: #FFF;
    --black: #000;
    --gray:#8f8f8f5d;
    --background: #e0f1ff;
    --blue: #3b3eff;
    --red: #a00000;
    --font-size-title:20px;
    --font-size:14px;
    --size-icon:44px;
    --secundary: darkcyan;
    --card: #006363;
    --lighter-primary:#79a3a3;
    --second-background: #002727;
    --foreground: #030202;
}
/* html {
    color:brown;
    } */
@media (400px < width < 1500px) {
    :root {
        --font-size-title:30px;
        --font-size:16px;
    }
}
@media (1500px < width) {
    :root {
        --font-size-title:50px;
        --font-size:20px;
    }
}
