:root {
    --white: #FFF;
    --black: #000;
    --gray:#8f8f8f5d;
    --darkgolden:#b8860b;
    --darkcyan:#008b8b;
    --darkgray:#2c2c2c;
    --font-size:14px;
    --font-size-desplege:15px;
    --background: url("https://github.com/DICREY/Multimedia-Mascotas/blob/main/imgs/arana_1220x2160_vertical.jpg?raw=true");
}
html {
    color: darkcyan;
}
@media (max-width:400px) {
}
@media (400px < width) {
    :root {
        --font-size:16px;
        --background: url("https://github.com/DICREY/Multimedia-Mascotas/blob/main/imgs/arana_2560x1440.jpg?raw=true");
    }
}