<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="https://github.com/DICREY/Multimedia-Mascotas/blob/main/imgs/PetsParadiseLogo.png?raw=true" type="image/x-icon">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/citas.css">
    <title>Appointments Pets Paradise</title>
</head>
<body>
    <header id="header">
        <picture>
            <img class="logo-sena" src="https://github.com/DICREY/Multimedia-Mascotas/blob/main/imgs/PetsParadiseLogo.png?raw=true" alt="dog">
        </picture>
        <p translate="no" class="name-corp">Pets Paradise</p>
        <span>
            <ol>
                <li><a class="btn-link" href="#"><i class='bx bx-user-circle'></i>User</a>
                    <ol class="deploying access">
                        <li><a class="btn-link" href="./login.html">Login</a></li>
                        <li><a class="btn-link" href="./register.html">Register</a></li>
                    </ol>
                </li>
            </ol>
        </span>
    </header>
    <main id="main">
        <section id="section-privacy" class="section-privacy-notice section">
            <strong class="title-privacy">Privacy Notice</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae maxime aliquid repellendus deleniti saepe? Asperiores magnam officia sequi in autem eos provident. Recusandae rem repellendus distinctio dicta illo consequatur quod? <br> <br>
            Deleniti odit doloremque quam pariatur. Animi, accusantium natus. Nostrum facilis esse sapiente officiis laudantium ut? Laudantium earum consequatur suscipit delectus quo esse qui necessitatibus fuga! Aliquid officiis perspiciatis reiciendis. Deserunt!
            Ullam error, facilis illum nostrum quaerat officia amet fugit ducimus animi consequatur eum similique quae officiis suscipit iure natus incidunt nihil, cupiditate dolorem iste autem eaque inventore est culpa. Reprehenderit! <br> <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea incidunt laudantium, velit nisi enim voluptatibus quo maxime odit, labore quibusdam iusto optio earum libero corporis, a officiis facilis at laboriosam.
            </p>
            <strong>¿Do you want to continue scheduling appointments?</strong>
            <span>
                <button id="btn-i" class="btn-accept" type="button">Accept</button>
                <a class="btn-accept" href="../index.html">Not accept</a>
            </span>
        </section>
        <section id="select-appointment" class="section inactive">
            <aside id="btn-i" class="btn-back">
                <i class='bx bx-chevron-left'></i>
            </aside>
            <section class="sub-select-appointment">
                <strong class="title-select-appointment">Appointment Scheduling</strong>
                <div id="request-appointment" class="request-appointment">
                    <img src="https://github.com/DICREY/Multimedia-Mascotas/blob/main/imgs/calendario.png?raw=true" alt="quote aggregation symbol">
                    <span>
                        <strong>Request Appointment</strong>
                        <p>make the request for an appointment</p>
                    </span>
                </div>
                <div id="consult-appointment" class="consult-appointment">
                    <img src="https://github.com/DICREY/Multimedia-Mascotas/blob/main/imgs/search_appointment.png?raw=true" alt="Representative magnifying glass for consulting an appointment">
                    <span>
                        <strong>Consult Appointment</strong>
                        <p>consult,modify or cancel an appointment</p>
                    </span>
                </div>
                <a class="btn-accept" href="../index.html">Leave</a>
            </section>
            <form method="post" id="form-request-appointment" class="form-request-appointment forms-appointment inactive">
                <strong>Request Appointment</strong>
                <section id="section-appointment-data" class="section-appointment-calendar">
                    <section>
                        <span class="months">
                            <button id="prev-month" class="btn-calendar" type="button">
                                <i class='bx bx-chevron-left'></i>
                            </button>
                            <span id="month-year" class="month-year"></span>
                            <button id="next-month" class="btn-calendar next-month" type="button">
                                <i class='bx bx-chevron-right'></i>
                            </button>
                        </span>
                        <div class="week-days">
                            <p>Mon</p>
                            <p>Tue</p>
                            <p>Wed</p>
                            <p>Thu</p>
                            <p>Fri</p>
                            <p>Sat</p>
                            <p>Sun</p>
                        </div>
                        <div id="month-days" class="month-days">
                        </div>
                    </section>                    
                    <span id="show-date-appointment" class="show-date-appointment">
                        <p>Data Appointent:</p>
                    </span>
                    <span class="span-time-appointment">
                        <p>Select appointment time</p>
                        <select name="time-appointment" id="time-appointment" class="time-appointment select" required>
                            <option value="">--Select--</option>
                        </select>
                    </span>                    
                </section>
                <section id="section-appointment-inputs" class="section-appointment inactive">
                    <span class="span-input">
                        <p>Name Pets</p>
                        <input class="input pets" type="text" placeholder="Pets" list="pets">
                        <datalist class="select" name="pet" id="pets" required>
                            <option value="" selected>-- Select --</option>
                        </datalist>
                    </span>
                    <span class="span-input">
                        <p>Veterinary</p>
                        <select class="select" name="veterinary" id="veterinary" required>
                            <option value="" selected>-- Select --</option>
                        </select>
                    </span>
                    <span class="span-input">
                        <p>Service</p>
                        <select class="select" name="service" id="services" required>
                            <option value="" selected>-- Select --</option>
                        </select>
                    </span>
                </section>
                <span>
                    <button type="button" id="btn-next-appointment" class="btn-accept">Next</button>
                    <button type="button" id="btn-back-appointment" class="btn-accept">Back</button>
                </span>
            </form>
            <form id="form-consult-appointment" class="form-consult-appointment forms-appointment inactive">
                <strong>Consult Appointment</strong>
                <p>¿How to search an appointment?</p>
                <span class="btns-appoint">
                    <button id="consult-appoint-date" class="btn-accept" type="button">Date Appointment</button>
                    <button id="consult-appoint-pets-name" class="btn-accept" type="button">Pet's Name</button>
                </span>
                <span id="date-name-appointment" class="span-date-name">
                </span>
                <span>
                    <button id="btn-send-appointment-consult" class="btn-accept" type="button">Send</button>
                    <button id="btn-back-appointment-consult" class="btn-accept" type="button">Back</button>
                </span>
            </form>
        </section>
    </main>
    <iframe src="footer.html" frameborder="0" width="100%"></iframe>
    <script src="../scripts/arrays.js"></script>
    <script src="../scripts/citas.js"></script>
</body>
</html>