<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="https://github.com/DICREY/Multimedia-Mascotas/blob/main/imgs/PetsParadiseLogo.png?raw=true" type="image/x-icon">
    <link rel="stylesheet" href="../css/citas.css">
    <title>Appointments Pets Paradise</title>
</head>
<body>
    <header id="header">
        <picture>
            <img class="logo-sena" src="https://github.com/DICREY/Multimedia-Mascotas/blob/main/imgs/PetsParadiseLogo.png?raw=true" alt="logoSena">
        </picture>
        <p translate="no" class="name-corp">Pets Paradise</p>
        <span>
            <ol>
                <li><a class="btn-link" href="#"><i class='bx bx-user-circle'></i>User</a>
                    <ol class="deploying access">
                        <li><a class="btn-link" href="./login.html">Login</a></li>
                        <li><a class="btn-link" href="./register.html">Register</a></li>
                    </ol>
                </li>
            </ol>
        </span>
    </header>
    <main id="main">
        <section id="section-privacy" class="section-privacy-notice section inactive">
            <strong class="title-privacy">Privacy Notice</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae maxime aliquid repellendus deleniti saepe? Asperiores magnam officia sequi in autem eos provident. Recusandae rem repellendus distinctio dicta illo consequatur quod? <br> <br>
            Deleniti odit doloremque quam pariatur. Animi, accusantium natus. Nostrum facilis esse sapiente officiis laudantium ut? Laudantium earum consequatur suscipit delectus quo esse qui necessitatibus fuga! Aliquid officiis perspiciatis reiciendis. Deserunt!
            Ullam error, facilis illum nostrum quaerat officia amet fugit ducimus animi consequatur eum similique quae officiis suscipit iure natus incidunt nihil, cupiditate dolorem iste autem eaque inventore est culpa. Reprehenderit! <br> <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea incidunt laudantium, velit nisi enim voluptatibus quo maxime odit, labore quibusdam iusto optio earum libero corporis, a officiis facilis at laboriosam.
            </p>
            <strong>¿Do you want to continue scheduling appointments?</strong>
            <span>
                <button id="btn-i" class="btn-accept" type="button">Accept</button>
                <a class="btn-accept" href="../index.html">Not accept</a>
            </span>
        </section>
        <section id="select-appointment" class="section">
            <aside id="btn-i" class="btn-back">
                <i class='bx bx-chevron-left'></i>
            </aside>
            <section class="sub-select-appointment">
                <strong class="title-select-appointment">Appointment Scheduling</strong>
                <div id="request-appointment">
                    <img src="" alt="quote aggregation symbol">
                    <span>
                        <strong>Request Appointment</strong>
                        <p>make the request for an appointment</p>
                    </span>
                </div>
                <div id="consult-appointment">
                    <img src="" alt="Representative magnifying glass for consulting an appointment">
                    <span>
                        <strong>Consult Appointment</strong>
                        <p>consult,modify or cancel an appointment</p>
                    </span>
                </div>
                <a class="btn-accept" href="../index.html">Leave</a>
            </section>
            <form method="post" id="form-request-appointment" class="form-request-appointment forms-appointment inactive">
                <strong>Request Appointment</strong>
                <input class="input" type="text" placeholder="Veterinary" list="veterinary">
                <datalist class="select" name="veterinary" id="veterinary" required>
                </datalist>
                <input class="input" type="text" placeholder="Pets" list="pets">
                <datalist class="select" name="pet" id="pets" required>
                </datalist>
                <input class="input" type="text" placeholder="Services" list="services">
                <datalist class="select" name="service" id="services" required>
                </datalist>
                <input class="input" type="time" name="time-appointment" id="time-appointment" placeholder="Time Appointment" required>
                <input class="input" type="date" name="date-appointment" id="date-appointment" placeholder="Date-Appointment" required>
                <span>
                    <button type="button" id="btn-send-appointment" class="btn-accept">Send</button>
                    <button type="button" id="btn-back-appointment" class="btn-accept">Back</button>
                </span>
            </form>
            <form id="form-consult-appointment" class="form-consult-appointment forms-appointment inactive">
                <strong>Consult Appointment</strong>
                <span>
                    <button id="consult-appoint-date" class="btn-accept" type="button">Date Appointment</button>
                    <button id="consult-appoint-pets-name" class="btn-accept" type="button">Pet's Name</button>
                </span>
                <span id="date-name-appointment" class="span-date-name">
                </span>
                    <!-- <p>Type the pet's name to find a appointment</p>
                    <input class="input" type="text" placeholder="Pet's Name"> -->
                <button id="btn-back-appointment-consult" class="btn-accept" type="button">Back</button>
            </form>
        </section>
    </main>
    <footer id="footer">
        <section class="important footer-section">
            <p class="footer-subtitle">Important
            </p>
            <ol class="footer-list">
                <li><a class="footer-btn-link" href="#">Terms and Conditions</a></li>
                <li><a class="footer-btn-link" href="#">Privacy Policy</a></li>
                <li><a class="footer-btn-link" href="#">Payment Methods</a></li>
            </ol>
        </section>
        <section class="contacto footer-section">
            <p class="footer-subtitle">Contact us</p>
            <ol class="footer-list">
                <li><p class="footer-list-data">Sales +57 320 5698976</p></li>
                <li><p class="footer-list-data">Customer service 601 5941919</p></li>
                <li><p class="footer-list-data"><strong>Schedule:</strong> <br> Monday to friday at 8:00 a.m to 6:00 p.m</p></li>
            </ol>
        </section>
        <section class="redes footer-section">
            <p class="footer-subtitle">Address</p>
            <ol class="footer-list footer-redes">
                <li><a href="#"><i class='bx bxl-facebook footer-icon-red'></i></a></li>
                <li><a href="#"><i class='bx bxl-instagram footer-icon-red'></i></a></li>
                <li><a href="#"><i class='bx bxl-youtube footer-icon-red'></i></a></li>
            </ol>
        </section>
    </footer>
    <script src="../scripts/citas.js"></script>
</body>
</html>