<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <footer id="footer">
        <section class="important footer-section">
            <p class="footer-subtitle">Important
            </p>
            <ol class="footer-list">
                <li><a class="footer-btn-link" href="#">Terms and Conditions</a></li>
                <li><a class="footer-btn-link" href="#">Privacy Policy</a></li>
                <li><a class="footer-btn-link" href="#">Payment Methods</a></li>
            </ol>
        </section>
        <section class="contacto footer-section">
            <p class="footer-subtitle">Contact us</p>
            <ol class="footer-list">
                <li><p class="footer-list-data">Sales +57 320 5698976</p></li>
                <li><p class="footer-list-data">Customer service 601 5941919</p></li>
                <li><p class="footer-list-data"><strong>Schedule:</strong> <br> Monday to friday at 8:00 a.m to 6:00 p.m</p></li>
            </ol>
        </section>
        <section class="redes footer-section">
            <p class="footer-subtitle">Address</p>
            <ol class="footer-list footer-redes">
                <li><a href="#"><i class='bx bxl-facebook footer-icon-red'></i></a></li>
                <li><a href="#"><i class='bx bxl-instagram footer-icon-red'></i></a></li>
                <li><a href="#"><i class='bx bxl-youtube footer-icon-red'></i></a></li>
            </ol>
        </section>
    </footer>
</body>
</html>