<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <header id="header">
        <picture>
            <img class="logo-sena" src="https://github.com/DICREY/Multimedia-Mascotas/blob/main/imgs/PetsParadiseLogo.png?raw=true" alt="dog">
        </picture>
        <p translate="no" class="name-corp">Pets Paradise</p>
        <span>
            <ol>
                <li><a class="btn-link" href="#"><i class='bx bx-user-circle'></i>User</a>
                    <ol class="deploying access">
                        <li><a class="btn-link" href="./login.html">Login</a></li>
                        <li><a class="btn-link" href="./register.html">Register</a></li>
                    </ol>
                </li>
            </ol>
        </span>
    </header>
</body>
</html>