<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="https://github.com/DICREY/Multimedia-Mascotas/blob/main/imgs/PetsParadiseLogo.png?raw=true" type="image/x-icon">
    <link rel="stylesheet" href="../css/login.css">
    <title>Login Pets Paradise</title>
</head>
<body>
    <main>
        <form>
            <h1 class="name-corp" translate="no">Pets Paradise</h1>
            <h1 translate="no">Login</h1>
            <div>
                <input name="email" class="input email" type="email" required>
                <i class='bx bxs-user icon'></i>
                <span class="span-input email">Email</span>
            </div>
            <div>
                <input name="password" class="input password" type="password" required>
                <i class='bx bx-lock icon i-password'></i>
                <span class="span-input password">Password</span>
            </div>
            <a class="link" href="#">¿Do you forgot password?</a>
            <button class="btn-send" type="submit">Send</button>
            <span class="span-register">
                <p>¿you don't have account?</p>
                <a class="link" href="../template/register.html">Register</a>
            </span>
        </form>
    </main>
    <script src="../scripts/login.js"></script>
</body>
</html>