<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="https://github.com/DICREY/Multimedia-Mascotas/blob/main/imgs/PetsParadiseLogo.png?raw=true" type="image/x-icon">
    <link rel="stylesheet" href="../css/login.css">
    <title>Login Mascotas</title>
</head>
<body>
    <main>
        <form>
            <h1>LOGIN</h1>
            <span>
                <input class="input" type="email" placeholder="Email" required>
                <i class='bx bxs-user'></i>
            </span>
            <span>
                <input class="input" type="password" placeholder="Password" required>
                <i class='bx bx-lock'></i>
            </span>
            <button class="btn-send" type="submit">Send</button>
        </form>
    </main>
</body>
</html>