<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="https://github.com/DICREY/Multimedia-Mascotas/blob/main/imgs/PetsParadiseLogo.png?raw=true" type="image/x-icon">
    <link rel="stylesheet" href="../css/dynamicStyles/header.css">
    <link rel="stylesheet" href="../css/dynamicStyles/footer.css">
    <link rel="stylesheet" href="../css/pets.css">
    <title>Pets Pets Paradise </title>
</head>
<body>
    <header>
        <header id="header" class="header">
        </header>
        <nav id="var-nav" class="var-nav">
            <ol class="ol-var-nav" style="list-style: none;">
                <li><a class="btn-link" href="../index.html">Home</a></li>
                <li><a class="btn-link" href="./services.html">Services</a></li>
                <li><a class="btn-link" href="./citas.html">Citas</a></li>
                <span class="span-btn-menu">
                    <i id="btn-menu" class='bx bx-menu btn-menu'></i>
                </span>
                <ol id="menu-deploy" class="menu-deploy inactive">
                    <li><a class="btn-link" href="#">Dogs</a></li>
                    <li><a class="btn-link" href="#">Cats</a></li>
                    <li><a class="btn-link" href="#">Hamsters</a></li>
                    <li><a class="btn-link" href="#">Fish</a></li>
                    <li><a class="btn-link" href="#">Other Species</a>
                        <ol class="deploying">
                            <li><a class="btn-link" href="#">Rabbits</a></li>
                            <li><a class="btn-link" href="#">Birds</a></li>
                        </ol>
                    </li>
                </ol>
            </ol>
        </nav>
    </header>
    <main>
        <aside id="container-filter" class="container-filter">
            <span id="span-btn-menu-filter" class="span-btn-menu-filter">
                <i id="btn-menu-filter" class='bx bx-menu btn-menu'></i>
                <!-- <p>Filter Pets</p> -->
            </span>
            <nav id="filter" class="filter inactive">
                <form id="container-filter-search" class="filter-search">
                    <input class="search" type="search" placeholder="Search">
                    <i class='bx bx-search-alt'></i>
                </form>
                <form id="list-filters">
                    <p class="sub-title">Filter</p>
                    <span>
                        <input type="radio" class="" name="">
                        <p>asdas</p>
                    </span>
                </form>
            </nav>
        </aside>
        <section id="container-pets">
        </section>
    </main>
    <footer id="footer">
    </footer>
    <script src="../scripts/dynamicScripts/datas.js"></script>
    <script src="../scripts/dynamicScripts/header.js"></script>
    <script src="../scripts/dynamicScripts/footer.js"></script>
    <script src="../scripts/pets.js"></script>
</body>
</html>