<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="../css/register.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel="shortcut icon" href="https://github.com/DICREY/Multimedia-Mascotas/blob/main/imgs/PetsParadiseLogo.png?raw=true" type="image/x-icon">
    <title>Register Pets Paradise</title>
</head>
<body>
    <main>
        <form>
            <h1 class="name-corp" translate="no">Pets Paradise</h1>
            <h1>Register</h1>
            <span class="names">
                <input class="input name" name="name" type="text" placeholder="Name" required>
                <input class="input last-name" name="lastName" type="text" placeholder="Last Name" required>
            </span>
            <input class="input city" name="city" type="text" placeholder="City" required>
            <input class="input address" name="address" type="text" placeholder="Address" required>
            <input class="input tel" name="tel" type="tel" placeholder="Tel" required>
            <input class="input email" name="email" type="email" placeholder="Email" required>
            <span class="span-password">
                <input class="input password" type="password" name="password" placeholder="Password" required>
                <i class='bx bx-lock icon i-password'></i>
            </span>
            <input class="input neighborhood" type="text" name="neighborhood" placeholder="Neighborhood" required>
            <div class="names">
                <span>
                    <input type="checkbox">
                    <p class="link">Terms and Conditions</p>
                </span>
                <span>
                    <input type="checkbox">
                    <p class="link">Policy Privacy</p>
                </span>
            </div>
            <button class="btn-send" type="submit">Send</button>
            <p>¿Do you have account? <a class="link" href="../template/login.html">Login</a></p>
        </form>
    </main>
    <script src="../scripts/register.js"></script>
</body>
</html>