<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="../css/register.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel="shortcut icon" href="https://github.com/DICREY/Multimedia-Mascotas/blob/main/imgs/PetsParadiseLogo.png?raw=true" type="image/x-icon">
    <title>Register Pets Paradise</title>
</head>
<body>
    <main>
        <form>
            <h1 class="name-corp" translate="no">Pets Paradise</h1>
            <h1>Register</h1>
            <section class="sections primary-section">
                <div class="names">
                    <span>
                        <input class="input name" name="name" type="text" placeholder="Name" required>
                        <i class='bx bx-user icon'></i>
                    </span>
                    <span>
                        <input class="input last-name" name="lastName" type="text" placeholder="Last Name" required>
                        <i class='bx bxs-user icon'></i>
                    </span>
                </div>
                <span>
                    <input class="input city" name="city" type="text" placeholder="City" required>
                    <i class='bx bxs-business icon'></i>
                </span>
                <!-- <span>
                    <input class="input neighborhood" type="text" name="neighborhood" placeholder="Neighborhood" required>
                    <i class='bx bxs-home-smile icon'></i>
                </span> -->
                <span>
                    <input class="input address" name="address" type="text" placeholder="Address" required>
                    <i class='bx bx-home icon'></i>
                </span>
                <div class="names terms-policy">
                    <p class="link">Terms and Conditions</p>
                    <p class="link">Policy Privacy</p>
                </div>
                <button type="button" class="btn-send btn-next">Next</button>
                <p>¿Do you have account? <a class="link" href="../template/login.html">Login</a></p>
            </section>
            
            <section class="sections secondary-section inactive">
                <span>
                    <input class="input email" name="email" type="email" placeholder="Email" required>
                    <i class='bx bxl-gmail icon'></i>
                </span>
                <span class="span-password">
                    <input class="input password" type="password" name="password" placeholder="Password" required>
                    <i class='bx bx-lock icon i-password'></i>
                </span>
                <span>
                    <input class="input tel" name="tel" type="tel" placeholder="Tel" required>
                    <i class='bx bx-phone icon'></i>
                </span>
                <div class="names terms-policy">
                    <span>
                        <input type="checkbox" required>
                        <p class="link">Terms and Conditions</p>
                    </span>
                    <span>
                        <input type="checkbox" required>
                        <p class="link">Policy Privacy</p>
                    </span>
                </div>
                <div class="names">
                    <button class="btn-send btn-back" type="button">Back</button>
                    <button class="btn-send" type="submit">Send</button>
                </div>
                <p>¿Do you have account? <a class="link" href="../template/login.html">Login</a></p>
            </section>
        </form>
        <span class="btn-home">
            <a href="../index.html">
                <i class='bx bx-home'></i>
            </a>
        </span>
    </main>
    <script src="../scripts/register.js"></script>
</body>
</html>
