*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .3s ease-in-out;
}
::-webkit-scrollbar {
    display:none;
}
::selection {
    color: var(--white);
    background: var(--card);
}
body {
    display:grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, rgb(0, 230, 0), cyan);
    overflow: auto;
}
main {
    outline: 2px solid red;
    width: 50%;
}
header,section {
    position: relative;
    width: 80%;
    padding: 10px;
    border: 2px solid rgb(84, 84, 84);
    border-radius: 10px;
    box-shadow: 0 0 30px black;
    background: linear-gradient(to right,gray,rgb(234, 234, 234));
}
section img {
    position: absolute;
    height: 40%;
    width: 40%;
    top: -50px;
    border-radius: 50%;
    box-shadow: 0 0 30px black;
}